*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.container
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.audio-player{
  background: #ffffff;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}
.image{
  margin-top: 20px;
  width: 220px;
  height: 220px;
  box-shadow: 0 5px 5px rgb(9 46 12 / 22%);
  background: #fff;
}
.audio-player {
  background: #ffffff;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgb(9 46 12 / 22%);
}
.audio-player p{
  font-size: 14px;
  color: #183518;
}
.progress{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #f18edc;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}
.progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #570450;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgb(9 46 12 / 22%);
}
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div{
  width: 30px;
  height: 30px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center ;
  border-radius: 50%;
  color: #570450;
  box-shadow: 0 5px 5px rgb(9 46 12 / 22%);
  cursor: pointer;
}
.controls div:nth-child(3){
  transform: scale(2);
  background: #570450;
  color: #fff;
}
.play{
  position: absolute;
  left: 8px;
}

h3#artist {
    margin-top: 13px;
}
.numbercontainer {
  margin-top: 10px;
  display: flex;
}
marquee#artist {
  margin-top: 10px;
}